/* VARIABLES */
:root {
  --red:  #ffcd00;
  --green: #009739;
  --white: #ffffff;
  --shadow: rgba(0,0,0,0.2);
  --radius: 10px;
  --max-width: 1500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: var(--red);
  color: white;
  padding: 1.5rem;
  text-align: center;
  border-bottom: 5px solid var(--green);
}

.hero {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Hero Section */
.hero picture,
.hero img {
  width: 100%;
  display: block;
  border-bottom: 5px solid var(--yellow);
}


/* DATA CARD */
.data-card {
  position: absolute;
  top: 10%;
  left: 5%;
  background: rgba(255,255,255,0.9);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--shadow);
  max-width: 250px;
}

.data-card h2 {
  background: var(--green);
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--radius) var(--radius) 0 0;
}

.data-card ul {
  list-style: none;
  font-size: 0.9rem;
}

.data-card li {
  margin: 0.2rem 0;
}

/* WEATHER CARD */
.weather-card {
  position: absolute;
  bottom: 10%;
  right: 5%;
  background: rgba(255,255,255,0.9);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--shadow);
  max-width: 200px;
}

.weather-card h2 {
  background: var(--green);
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--radius) var(--radius) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Emoji visible seulement sur desktop */
.weather-card h2::after {
  content: " ⛅";
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .weather-card h2::after {
    content: ""; /* On masque l'emoji en mobile */
  }
}

/* FOOTER */
footer {
  background: var(--red);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 8px solid var(--red);
}
/* Pseudo-element emoticon desktop only */
@media (min-width: 800px) {
  .flower::after {
    content: " 🌼";
  }
}
